@base-url: "../img/";
@regular: 400;
@bold: 700;
@thin: 300;
@x-width: 320px;
@wrap-width: 280px;
@pink: #d22856;
@navy: #283645;
@white: #fff;
@black: #000;
@grey-con: #bec2c7;
@grey-b: #f2f2f2;
@t-border: 2px solid #e5e5e5;
@box-shad: inset 1px 0 0 0 black,
           inset -1px 0 0 0 black;


@font-face{
  font-family: gothamrounded;
  src: url(../fonts/Gotham-Rounded-Book.ttf);
}
