.review-slider{
  background-image: linear-gradient(-5deg, @grey-b  5%,  @grey-b  19%, @white 19%);
  padding-bottom: 134px;

  .slider-control{
    &__toggle{
      background: @grey-con;
      border: 3px solid @white;

        &--active{
          .toggle-act();
        }
    }
  }
}

.review{
  text-align: center;
   padding: 45px 0 0;

  &__name-reviewer{
    .font(@black, 18px, @bold, 30px);
    margin-bottom: 15px;
  }

  &__comment-reviewer{
      .font(@navy, 14px, @regular, 30px);
      .margpad(0 20px);
  }

      &__prof-reviewer{
      display: none;
    }
}


@media (min-width: 700px) {
  .review-slider{
    padding-bottom: 110px;
  }

  .review{
    display: flex;
    flex-direction: column-reverse;
    padding: 65px 0 0;

    &__name-reviewer{
      .font(@black, 20px, @bold, 30px);
      margin-bottom: 5px;
    }

    &__comment-reviewer{
      .font(@navy, 18px, @regular, 30px);
      .margpad(0 25px);
      margin-bottom: 35px;
    }

        &__prof-reviewer{
      display: block;
      .font(@navy, 14px, @regular, 30px);
      margin: 0;
    }
   }
}
